<mat-toolbar color="primary" class="toolbar">
  <span></span>
  <span class="spacer"></span>
  <button mat-stroked-button color="accent" (click)="navigateToDocumentParser()">Document parser</button>
  <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
</mat-toolbar>

<div class="container">
  <mat-card class="search-card mat-elevation-z3">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Keywords</mat-label>
        <input
          matInput
          formControlName="keywords"
          placeholder="Enter keywords separated by / or , or query"
        />
      </mat-form-field>

      <div class="geo-options">
        <mat-checkbox formControlName="geoSearch">Enable geolocation search</mat-checkbox>

        <mat-form-field
          *ngIf="searchForm.get('geoSearch')?.value"
          appearance="outline"
          class="radius-field"
        >
          <mat-label>Radius (meters)</mat-label>
          <input
            matInput
            type="number"
            formControlName="radius"
            placeholder="Enter radius in meters"
          />
        </mat-form-field>
      </div>

    

      <div class="form-buttons">
        <button mat-flat-button color="primary" type="submit">Search</button>
        <button mat-stroked-button color="warn" type="button" (click)="onClear()">Clear</button>
      </div>
    </form>
  </mat-card>

<ng-container *ngIf="results.length > 0; else noResults">
    <mat-card
      class="result-card mat-elevation-z2"
      *ngFor="let result of results"
    >
      <div class="doc-snippets" *ngIf="getAllDynamicSummaries(result).length > 0">
        <p
          class="doc-snippet"
          *ngFor="let snippet of getAllDynamicSummaries(result)"
          [innerHTML]="snippet | safeHtml"
        ></p>
      </div>
    </mat-card>
  </ng-container>

  <ng-template #noResults>
    <ng-container *ngIf="hasSearched">
      <mat-card class="result-card mat-elevation-z2">
        <div class="info">No documents found. Try again.</div>
      </mat-card>
    </ng-container>
  </ng-template>

</div>
